<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Dashboard - Bioskop</title>
<link rel = "Stylesheet" href="dashboard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<!-- SIDEBAR -->
<div class="sidebar">
<h2>Admin Page</h2>
<ul>
<ul>
<li><a href="#">Dashboard</a></li>
<li><a href="Manajemen_film.html">Manajemen Film</a></li>
<li><a href="jadwal.html">Jadwal Tayang</a></li>
<li><a href="tiket.html">Pesanan Tiket</a></li>
<li><a href="pengguna.html">Data Pengguna</a></li>
<li><a href="laporan.html">Laporan</a></li>
<li><a href="login.html">Logout</a></li>
</ul>
</div>

<!-- MAIN CONTENT -->
<div class="main">

<div class="navbar">
<h3>Dashboard Admin</h3>
<span>Admin</span>
</div>

<!-- STATISTICS -->
<div class="cards">

<div class="card">
<h3>Total Film</h3>
<p>-</p>
</div>

<div class="card">
<h3>Tiket Terjual</h3>
<p>-</p>
</div>

<div class="card">
<h3>Jadwal Berlangsung</h3>
<p>-</p>
</div>

<div class="card">
<h3>User Terdaftar</h3>
<p>-</p>
</div>

</div>

<input type="text" placeholder="Cari film..." class="search">
<!-- TABLE FILM -->

<div class="table-container">

<button class="btn-add">+ Tambah Film</button>

<table>

<thead>
<tr>
<th>ID</th>
<th>Judul Film</th>
<th>Genre</th>
<th>Durasi</th>
<th>Status</th>
<th>Aksi</th>
</tr>
</thead>

<tbody>

<tr>
<td>1</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>
<button class="btn-edit">Edit</button>
<button class="btn-delete">Hapus</button>
</td>
</tr>

<tr>
<td>2</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>
<button class="btn-edit">Edit</button>
<button class="btn-delete">Hapus</button>
</td>
</tr>

<tr>
<td>3</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>
<button class="btn-edit">Edit</button>
<button class="btn-delete">Hapus</button>
</td>
</tr>

</tbody>

</table>

</div>

</div>

</body>
</html>
