<!DOCTYPE html>
<html>
<head>
<title>Manajemen Film</title>
<link rel="stylesheet" href="manajemen_film.css">
</head>

<body>

<div class="sidebar">
<h2>Admin Page</h2>
<ul>
<li><a href="dashboard.html">Dashboard</a></li>
<li><a href="#">Manajemen Film</a></li>
<li><a href="jadwal.html">Jadwal Tayang</a></li>
<li><a href="tiket.html">Pesanan Tiket</a></li>
<li><a href="pengguna.html">Data Pengguna</a></li>
<li><a href="laporan.html">Laporan</a></li>
<li><a href="login.html">Logout</a></li>
</ul>
</div>

<div class="main">

<div class="navbar">
<h3>Manajemen Film</h3>
</div>

<div class="table-container">

<button class="btn-add">+ Tambah Film</button>

<table>

<thead>
<tr>
<th>ID</th>
<th>Poster</th>
<th>Judul</th>
<th>Genre</th>
<th>Durasi</th>
<th>Status</th>
<th>Aksi</th>
</tr>
</thead>

<tbody>

<tr>
<td>1</td>
<td><img src="poster.jpg" width="40"></td>
<td>Rasyid Love Story</td>
<td>Romance</td>
<td>120 min</td>
<td>Now Showing</td>
<td>
<button class="btn-edit">Edit</button>
<button class="btn-delete">Hapus</button>
</td>
</tr>

</tbody>

</table>

</div>

</div>

</body>
</html>